<%= render partial: 'test_executions/steps/progress_bubbles', locals: {step: @current_step_number, steps: @total_steps} %>
<%= progress_bar %>

<script>
  $(document).ready( function(){

  });
</script>

<div class='container'>
  <div class='col-md-12'>
    <div class='process-title'><h3>Enter Test Details</h3></div>
  </div>
  <%= render partial: 'test_executions/steps/disabled' %>
  <div class='process-content'>
    <%= form_for @test_execution, url: wizard_path, html: {'data-parsley-validate': ''}, method: :put do |f| %>
      <div class='col-md-6'>
        <div class='form-group'>
          <%=  f.label :name, 'Test Name'  %>
          <%=  f.text_field :name, class: 'form-control', required: true, disabled: @test_execution[:disable_details], 'data-parsley-trigger': 'blur'  %>
        </div>
        <div class='form-group'>
          <%=  f.label :reporting_period  %>
          <%=  f.select(:reporting_period, options_for_select([['2017', 2017], ['2016', 2016], ['2015', 2015], ['2014', 2014]]), {}, { class: 'form-control', disabled: @test_execution[:disable_details]}) %>
        </div>
        <%= field_set_tag 'QRDA Type', class: 'form-group' do %>
          <p><%=  f.radio_button(:qrda_type, '1', checked: true, disabled: @test_execution[:disable_details]) %>
          <%=  f.label(:qrda_type_1, 'QRDA Cat 1') %></p>
          <p><%=  f.radio_button(:qrda_type, '3', disabled: @test_execution[:disable_details]) %>
          <%=  f.label(:qrda_type_3, 'QRDA Cat 3') %></p>
        <% end %>
        <div class='form-group'>
          <%=  f.label :description  %>
          <%=  f.text_area :description, class: 'form-control', disabled: @test_execution[:disable_details] %>
        </div>
      </div>
      <div class='col-md-6'>
        <div class='form-group'>
          <%= field_set_tag 'CQM List (Select at least one)', id: 'cqm_list' do %>
            <div class='list-group' style='height:400px;overflow-y:scroll'>
              <%= f.collection_check_boxes :measure_ids, @measures, :id, :cms_id do |b| %>
                <div class='list-group-item'>
                  <div class='collection-check-box'>
                    <%= b.check_box(
                      disabled: @test_execution[:disable_details],
                      'data-parsley-required':'',
                      'data-parsley-mincheck':'1',
                      'data-parsley-required-message':'You need to select at least one CQM',
                      'data-parsley-errors-container':'#cqm_list',
                      'data-parsley-group':'cqm_list'
                    ) %>
                    <%= b.label %> - <%= b.object.title %>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <div class='clearfix'></div>
      <div class='process-nav'>
        <%= link_to 'Delete Test', @test_execution, method: :delete, class: 'btn btn-default', data: confirm_delete %>
        <%= button_tag(class: 'btn btn-primary pull-right') do %>
          Next <i class='glyphicon glyphicon-chevron-right'></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
