<%= render partial: 'test_executions/steps/progress_bubbles', locals: {step: @current_step_number, steps: @total_steps} %>
<%= progress_bar %>

<div class='container'>
  <div class='col-md-12'>
    <div class='process-title'><h3>Enter Results</h3></div>
  </div>
  <script>
    // Manually add the active class to labels of checkboxes if they are
    // already checked on page load
    $( document ).ready(function() {
      $('input:checked').parent().addClass('active');
    });
  </script>

  <%= form_for @test_execution, url: wizard_path, method: :put do |f| %>
    <div class='col-md-12 process-content'>
      <div class='er-panels'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <div class='list-group-header'>
              <div class='pull-left doc-name'>Document Name</div>
              <div class='pull-right slct-results'>Select Results</div>
            </div>
          </div>
          <div class='panel-body'>
            <div class='list-group'>
              <%= f.fields_for :documents do |d| %>
                <div class='list-group-item'>
                  <div class='document pull-left'>
                    <div id='<%= d.object.id %>_label'><%= d.object.name %></div>
                  </div>
                  <div class='btn-group pull-right' role='group' data-toggle="buttons">
                    <label class="btn btn-accept cedar-btn-accept">
                      <%= d.radio_button(:actual_result, :accept, options = { 'aria-labelledby': d.object.id.to_s + '_label' }) %> <%= d.label :Accept %>
                    </label>
                    <label class="btn btn-danger cedar-btn-reject">
                      <%= d.radio_button(:actual_result, :reject, options = { 'aria-labelledby': d.object.id.to_s + '_label' }) %> <%= d.label :Reject %>
                    </label>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='clearfix'></div>
    <div class='process-nav'>
      <%= link_to 'Delete Test', @test_execution, method: :delete, class: 'btn btn-default', data: confirm_delete %>
      <%= button_tag(class: 'btn btn-primary pull-right') do %>
        Next <i class='glyphicon glyphicon-chevron-right'></i>
      <% end %>
      <%= link_to 'Back', previous_wizard_path, class: 'btn pull-right' %>
    </div>
  <% end %>
</div>
