<%= render partial: 'test_executions/steps/progress_bubbles', locals: {step: @current_step_number, steps: @total_steps} %>
<%= progress_bar %>

<div class='container'>
  <div class='col-lg-12'>
    <div class="panel panel-default">
      <div class='process-title panel-heading'><h3>Overview</h3></div>
        <div class="panel-body">
          <table class="table table-condensed" style="border-collapse:collapse;">
            <thead>
             <tr><th>&nbsp;</th>
                 <th>Tested Document</th>
                 <th>Expected</th>
                 <th>Actual</th>
                 <th>Status</th>
             </tr>
           </thead>

           <tbody>
             <% @test_execution.documents.all.each do |doc| %>
               <tr data-toggle="collapse" data-target='#collapse<%= doc.id.to_s %>' class="accordion-toggle">
                         <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>
                   <td><%= doc.name.to_s %></td>
                   <td><% if doc.state == :passed %>
                     <h4 class='text-success'><i class='glyphicon glyphicon-check'></i> Passed</h4>
                   <% else %>
                     <h4 class='text-danger'><i class='glyphicon glyphicon-exclamation-sign'></i> Failed</h4>
                   <% end %></td>
                   <td>  <% if doc.actual_result == :accept %>
                       <h3 style='margin: 5px 0'><span class='label label-success'>Accept</span></h4>
                     <% else %>
                       <h3 style='margin: 5px 0'><span class='label label-danger'>Reject</span></h4>
                     <% end %></td>
                   <td><% if doc.expected_result == :accept %>
                     <h4 class='text-success'>Accept</h4>
                   <% else %>
                     <h4 class='text-danger'>Reject</h4>
                   <% end %></td>


               </tr>
               <tr>
                   <td colspan="12" class="hiddenRow"><div class="accordian-body collapse" id='collapse<%= doc.id.to_s %>'>
                     <table class="table table-striped">
                             <thead>

                             </thead>
                             <tbody>
                               <tr id='collapse<%= doc.id.to_s %>'><td>  <% if doc.validation_id %>
                                  <h4><%= doc.validation.name %></h4>
                                  <p><%= doc.validation.overview_text %></p>
                                <% else %>
                                  <h4>No errors</h4>
                                  <p>This file contained no validation errors and was expected to be accepted by the eCQM collection system.</p>
                                <% end %>
                              </tr>

                             </tbody>

                       </table>
                     </div> </td>
               </tr>
               <% end %>

           </tbody>
         </table>

        </div

    </div>


  <div class='col-md-12'>
    <div class='overview-panels'>

      <% @test_execution.documents.all.each do |doc| %>
        <div class='panel-group'>
          <div class='pull-right panel-toggle' data-toggle='collapse' href='#collapse<%= doc.id.to_s %>'>
            <a><span class='caret'></span></a>
          </div>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              <div class='pull-left column1'>
                <h4 class='panel-title'><%= doc.name.to_s %></h4>
              </div>
              <div class='pull-right column2'>
                <% if doc.state == :passed %>
                  <h4 class='text-success'><i class='glyphicon glyphicon-check'></i> Passed</h4>
                <% else %>
                  <h4 class='text-danger'><i class='glyphicon glyphicon-exclamation-sign'></i> Failed</h4>
                <% end %>
              </div>
              <div class='pull-right column4'>
                <% if doc.actual_result == :accept %>
                  <h3 style='margin: 5px 0'><span class='label label-success'>Accept</span></h4>
                <% else %>
                  <h3 style='margin: 5px 0'><span class='label label-danger'>Reject</span></h4>
                <% end %>
              </div>
              <div class='pull-right column3'>
                <% if doc.expected_result == :accept %>
                  <h4 class='text-success'>Accept</h4>
                <% else %>
                  <h4 class='text-danger'>Reject</h4>
                <% end %>
              </div>
            </div>
          </div>
          <div class='panel-collapse collapse' id='collapse<%= doc.id.to_s %>'>
            <div class='panel-body'>
              <div class='default-message'>
                <% if doc.validation_id %>
                  <h4><%= doc.validation.name %></h4>
                  <p><%= doc.validation.overview_text %></p>
                <% else %>
                  <h4>No errors</h4>
                  <p>This file contained no validation errors and was expected to be accepted by the eCQM collection system.</p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class='clearfix'></div>
  <div class='process-nav'>
    <%= link_to 'Delete Test', @test_execution, method: :delete, class: 'btn btn-default', data: confirm_delete %>
    <!-- It's important to set this to root_url instead of next_wizard_path so
    clicking on the test from the dashboard will still land the user on this page -->
    <%= link_to root_url, class: 'btn btn-primary label-success pull-right' do %>
      <i class='glyphicon glyphicon-ok'></i> Finish
    <% end %>
    <%= link_to 'Back', previous_wizard_path, class: 'btn pull-right' %>
  </div>
</div>
