<div class='table-responsive'>
  <table class='db-coverage table table-bordered table-striped'>
    <thead>
      <tr>
        <th>
          Validations
        </th>
        <% tests.each do |test_execution| %>
          <th class = 'text-center'>
            <%= link_to test_execution_step_path(test_execution, test_execution.step.to_sym) do %>
              <%= test_execution.name %>
            <% end %>
            <div class='date'>
              <%= test_execution.created_at.localtime.strftime('%m/%d/%Y') %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% validations.each do |validation| %>
        <tr>
          <td>
            <%= validation.name %>
          </td>
          <% tests.each do |te| %>
            <td class = 'text-center'>
              <% if te.detailed_results[validation.code] %>
                <%= content_tag :div, class: te.detailed_results[validation.code][:passed] == te.detailed_results[validation.code][:total] ? 'passed' : 'failed' do%>
                  <%= te.detailed_results[validation.code][:passed] %>/<%= te.detailed_results[validation.code][:total] %>
                <%end%>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
