<div class='container'>
  <% flash.each do |name, msg| %>
    <% if flash.keys[0] == 'error' %>
      <%= content_tag :div, msg.html_safe, class: 'alert alert-danger' %>
    <% else %>
      <%= content_tag :div, msg.html_safe, class: 'alert alert-info' %>
    <% end %>
  <% end %>

  <script>
    $(document).ready( function(){
      $('[data-toggle="tooltip"]').tooltip()
    });
  </script>

  <script type="text/javascript">
  $(function(){
    var start_date, end_date, qrda;
    // min max range for dates
    first =  moment.unix(<%= @first_date.to_i %>);
    last = moment.unix(<%= @last_date.to_i %>);

    // load from query string if existing
    start_date = moment.unix(<%= params[:start] || @first_date.to_i %>);
    end_date = moment.unix(<%= params[:end] || @last_date.to_i %>);
    qrda = "<%= params[:qrda] || 'both' %>";

    function update_timerange() {
      $('#reportrange span').html(start_date.format('ll') + ' - ' + end_date.format('ll'));
    }
    $('#reportrange').daterangepicker({
      'opens':'left',
      'drops': 'down',
      'startDate': start_date,
      'endDate': end_date,
      'minDate': first,
      'maxDate': last.add(1, 'seconds')
    },
    function(start, end, label){
      start_date = start;
      end_date = end;
      update_timerange();
      update_filter();
    });
    update_timerange();

    $(".dropdown-menu li a").click(function(){
      $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
      $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      qrda = $(this).data('value');
      update_filter();
    });
    function update_filter(){
      params = {'start': start_date.unix(), 'end': end_date.unix(), 'qrda': qrda}

      $.ajax({
        type: "GET",
        url: "/",
        dataType: 'script',
        data: params
      });
      $(this).preventDefault;
      history.pushState(null, null, "?"+$.param(params));
    }
  });
  </script>

  <div class="btn-toolbar" role="toolbar" aria-label="...">
    <div class="btn-group" role="group" aria-label="...">
      <% unless @prevent_test %>
        <%= link_to new_test_execution_path, type:"button", class:"btn btn-default" do %>
          <i class='glyphicon glyphicon-leaf'></i>&nbsp;Create a New Test
        <% end %>
      <% end %>
    </div>
    <div class="btn-group pull-right" role="group" aria-label="...">
      <div class="dropdown btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Both
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li><a data-value="1">Cat 1</a></li>
          <li><a data-value="3">Cat 3</a></li>
          <li><a data-value="both">Both</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-default" id="reportrange">
        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
        <span></span> <b class="caret"></b>
      </button>
    </div>
  </div>

  <div id='totals'>
    <%= render partial: 'test_executions/dashboard_totals',
               locals: {test_executions_num: @test_executions.length,
                        tests_passed_num: @tests_passed.length,
                        tests_failed_num: @tests_failed.length,
                        tests_incomplete_num: @tests_incomplete.length} %>
  </div>

  <div class='clearfix'></div>
  <div style='height: 20px'></div>

  <ul class='nav nav-tabs'>
    <li class='active' role='presentation'>
      <a data-toggle="tab" href='#panels'>Tests</a>
    </li>
    <li role='presentation'>
      <a data-toggle="tab" href='#coverage'>Validation Coverage</a>
    </li>
  </ul>

  <div class='tab-content'>
    <div id='panels' class='tab-pane fade in active'>
      <%= render partial: 'test_executions/dashboard_panel_tests',
                 locals: {panel_title: 'PASSED',
                          tests: @tests_passed} %>
      <%= render partial: 'test_executions/dashboard_panel_tests',
                 locals: {panel_title: 'FAILED',
                          tests: @tests_failed} %>
      <%= render partial: 'test_executions/dashboard_panel_tests',
                 locals: {panel_title: 'INCOMPLETE',
                          tests: @tests_incomplete} %>
    </div>
    <div id='coverage' class='tab-pane fade'>
      <%= render partial: 'test_executions/dashboard_coverage',
                 locals: {tests: @tests_complete,
                          validations: @validations} %>
    </div>
  </div>
</div>
