<script>
  $(document).ready(function() {
      $('.table').filterTable({
        inputSelector: '#search-validations'
      });
  });
</script>

<div class='container'>

  <h1>Cedar Validations</h1>
  <div class='col-md-4 col-sm-6'>
    <label for='search-validations' class='sr-only'>Search Measures</label>
    <div class="input-group">
      <span class="input-group-addon">
        <i class='glyphicon glyphicon-search'></i>
      </span>
      <input id='search-validations' type='search' class='form-control' placeholder='Search Validations' name=''>
    </div>
  </div>
  <table class='config-info table'>
    <thead>
      <tr>
        <th scope='col'>Name</th>
        <th scope='col'>Description</th>
        <th scope='col'>Overview Text</th>
        <th scope='col'>QRDA Type</th>
        <th scope='col'>Measure Type</th>
        <th scope='col' class='text-center'>Tags</th>
      </tr>
    </thead>

    <tbody>
      <% @validations.each do |validation| %>
        <tr>
          <th scope='row'><%= validation.name %></th>
          <td><%= validation.description %></td>
          <td><%= validation.overview_text %></td>
          <td><%= validation.qrda_type %></td>
          <td><%= validation.measure_type %></td>
          <td class='text-center'>
            <div class='cedar-tags' data-tag-item-type='validation' data-tag-item-id='<%= validation.id %>'>
              <% validation.tags.each do |tag| %>
                <div class='cedar-tag-parent' style='white-space:nowrap;'>
                  <span class='label label-primary cedar-tag'>
                    <i class='glyphicon glyphicon-tag'></i> <%= tag %>
                  </span>
                  <button class='btn btn-danger btn-xs cedar-remove-tag'>
                    <i class='glyphicon glyphicon-remove'></i> <span class='sr-only'> Remove <%= tag %></span>
                  </button>
                </div>
              <% end %>
            </div>
            <button type='button' class='btn btn-link add-tag'>+ Add a New Tag</button>
            <div class='input-group new-tag' style='display:none;'>
              <span class='input-group-btn' style='width:auto;display:flex;'>
                <label for='add-tag-<%= validation.id %>' class='sr-only'>Enter Tag Text</label>
                <input id='add-tag-<%= validation.id %>'
                       type='text'
                       class='form-control'
                       placeholder='Tag Text'
                       title='Cedar only allows tags with letters, numbers, and spaces.'
                       data-toggle="tooltip"
                       data-trigger="manual">
                <button class='btn btn-success' type='button'>
                  <i class='glyphicon glyphicon-ok'></i>
                  <span class='sr-only'>Create Tag</span>
                </button>
              </span>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
